@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes zoom-in-out {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.animate-zoom-in-out {
  animation: zoom-in-out 20s ease-in-out infinite;
}

